<div class="container-fluid">
    <div class="container-fluid"  style="background-color: #17213f;">
          <app-page-header [data]="data" (loadingChanged)="getLoading($event)"></app-page-header>
        </div>
        <!-- END OF MIST HEADER -->
        <div class="container-fluid">
            <!-- Facility Information -->
            <div class="row" style="background-color: wheat;">
                <div class="col-md-3">
                    <div>&nbsp;</div>
                </div>            
            </div>
            <div class="row" style="background-color: wheat;">
                <div class="col-md-4"><h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.template.TEMPLATE_NAME }}</h2></div>
            <div class="col-md-6">
                <div class="p-2">
                    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.BUILDING_NBR}} - {{ data.building.FACILITY_NAME }} </div>
                    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.ADDRESS }} </div>
                    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.CITY_NAME }} {{ data.building.STATE_ABBR }} {{ data.building.ZIPCODE }} </div>
            
                </div>
            </div>
            </div>
            <div class="row" style="background-color: wheat;">
                <div class="col-md-3">
                    <div>&nbsp;</div>
                </div>            
            </div>
    </div>
<!-- Main Section -->
<div class="container-fluid">
<div class="row pt-3" style="background-color:darkgrey">
    <div class="col-md-7">
        &nbsp;
    </div>
    <div class="col-md-5">
        <button [routerLink]="['/contacts',data.TEMPLATE_ID]" class="mb-3 btn btn-primary">Building Contact List</button>
        <button class="mb-3 btn btn-primary">Photo List</button>
        <button [routerLink]="['/add-building-contact',data['template']['TEMPLATE_ID'],data['building']['BUILDING_NBR']]" class="mb-3 btn btn-warning">Add Contact</button>
        <button class="mb-3 btn btn-warning">Upload Photo</button>
    <!--    <button (click)="reloadTemplate()" class="mb-3 btn btn-danger">Reload Template</button> -->
 
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <div id="sidebar-nav"> 
            <div class="nav">
                <h1 class="mb-2">&nbsp; Table of Contents</h1>

                <div class="row ms-1 me-1 p-2 border" *ngFor="let m of data.sections" style="width:100%">
                    <div *ngIf="m.SECTION_LEVEL==2" class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-10">
                        <a [routerLink]="['/plan',data.template.TEMPLATE_ID,data.building.BUILDING_NBR,m.SECTION_ID ]"> {{ m.SECTION_NAME }}</a>                
                    </div>
                    <div *ngIf="m.SECTION_LEVEL==1" class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-1" *ngIf="m.HIDDEN=='Y'">
                        <span class="badge bg-dark"> X </span>
                    </div>
                    <div class="col-md-1" *ngIf="m.HIDDEN=='M'">
                        <span class="badge bg-dark"> M </span>
                    </div>
                </div>
            </div>
        
        </div>
      </div>
      <!-- -->
      <!-- RIGHT PANEL -->
      <!-- -->
      <div class="col-md-9">
<div *ngIf="adding=='N'" class="row">
    <div class="col-md-12">
    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <div class="col-md-12">
                <div class="row p-2 mt-2 mb-2" style="background-color: beige;">
                    <div class="col-md-9">
                        <h2>Facility Contacts - Tenants</h2>         
                    </div>
                   <div class="col-md-3">
                    <button class="btn btn-danger">Load from MIST</button>
                   </div>
                </div>
                <table class="table table-responsive table-striped table-bordered border-primary">
                    <thead>
                        <tr class="p-2">
                            <th  class="p-2">Contact Tag</th>
                            <th  class="p-2">Name</th>    
                            <th  class="p-2">Organization</th> 
                            <th  class="p-2">Type</th>             
                            <th></th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="p-2" *ngFor="let m of data.tenants">
                            <td  class="p-2" style="width:100px">{{ m.CONTACT_TAG }}</td>
                            <td  class="p-2">{{ m.CONTACT_NAME }}<span *ngIf="m.CONTACT_TITLE!=''"><br>{{ m.CONTACT_TITLE }}</span></td>
                            <td  class="p-2"><span *ngIf="m.CONTACT_AGENCY_CODE!=''">{{ m.CONTACT_AGENCY_CODE }} - </span>{{ m.CONTACT_AGENCY_NAME }}</td>
                            <td  class="p-2">{{ m.CONTACT_PHONE }}</td>
                            <td  class="p-2">{{ m.PLAN_CONTACT_TYPE }}</td>
                            <td  class="p-2" style="width:100px;">
                            <button [routerLink]="['/add-building-contact',data.TEMPLATE_ID,data.BUILDING_NBR,m.ID]" class="btn btn-primary" >Edit</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row p-2 mt-2 mb-2" style="background-color: beige;">
                    <div class="col-md-9">
                        <h2>Facility Contacts - Organization / Stakeholders</h2>         
                    </div>
                   <div class="col-md-3">
                    
                   </div>
                </div>
                <table class="table table-responsive table-striped table-bordered border-primary">
                    <thead>
                        <tr class="p-2">
                            <th  class="p-2">Contact Tag</th>
                            <th  class="p-2">Name</th>    
                            <th  class="p-2">Organization</th>
                            <th  class="p-2">Phone</th> 
                            <th  class="p-2">EMail</th>  
                            <th  class="p-2">Type</th>             
                            <th></th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="p-2" *ngFor="let m of data.orgs">
                            <td  class="p-2" style="width:100px">{{ m.CONTACT_TAG }}</td>
                            <td  class="p-2">{{ m.CONTACT_NAME }}<span *ngIf="m.CONTACT_TITLE!=''"><br>{{ m.CONTACT_TITLE }}</span></td>
                            <td  class="p-2"><span *ngIf="m.CONTACT_AGENCY_CODE!=''">{{ m.CONTACT_AGENCY_CODE }} - </span>{{ m.CONTACT_AGENCY_NAME }}</td>
                            <td  class="p-2">{{ m.CONTACT_PHONE }}</td>
                            <td  class="p-2">{{ m.CONTACT_EMAIL }}</td>
                            <td  class="p-2">{{ m.PLAN_CONTACT_TYPE }}</td>
                            <td  class="p-2" style="width:100px;">
                            <button [routerLink]="['/add-building-contact',data.TEMPLATE_ID,data.BUILDING_NBR,m.ID]" class="btn btn-primary" >Edit</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row p-2 mt-2 mb-2" style="background-color: beige;">
                    <div class="col-md-9">
                        <h2>Facility Contacts - People</h2>         
                    </div>
                   <div class="col-md-3">
                    <button class="btn btn-danger">Load from MIST</button>
                   </div>
                </div>
                <table class="table table-responsive table-striped table-bordered border-primary">
                    <thead>
                        <tr class="p-2">
                            <th  class="p-2">Contact Tag</th>
                            <th  class="p-2">Name</th>    
                            <th  class="p-2">Organization</th>
                            <th  class="p-2">Phone</th>
                            <th  class="p-2">Tenant</th>  
                            <th  class="p-2">Type</th>             
                            <th></th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="p-2" *ngFor="let m of data.persons">
                            <td  class="p-2" style="width:100px">{{ m.CONTACT_TAG }}</td>
                            <td  class="p-2">{{ m.CONTACT_NAME }}<span *ngIf="m.CONTACT_TITLE!=''"><br>{{ m.CONTACT_TITLE }}</span></td>
                            <td  class="p-2"><span *ngIf="m.CONTACT_AGENCY_CODE!=''">{{ m.CONTACT_AGENCY_CODE }} - </span>{{ m.CONTACT_AGENCY_NAME }}</td>
                            <td  class="p-2">{{ m.CONTACT_PHONE }}</td>
                            <td  class="p-2">{{ m.TENANT_FLAG }}</td>
                            <td  class="p-2">{{ m.PLAN_CONTACT_TYPE }}</td>
                            <td  class="p-2" style="width:100px;">
                            <button [routerLink]="['/add-building-contact',data.TEMPLATE_ID,data.BUILDING_NBR,m.ID]" class="btn btn-primary" >Edit</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row p-2 mt-2 mb-2" style="background-color: beige;">
                    <div class="col-md-9">
                        <h2>Facility Contacts - Locations</h2>         
                    </div>
                   <div class="col-md-3">
          
                   </div>
                </div>
                <table class="table table-responsive table-striped table-bordered border-primary">
                    <thead>
                        <tr class="p-2">
                            <th  class="p-2">Contact Tag</th>
                            <th  class="p-2">Name</th>    
                            <th  class="p-2">Organization</th>
                            <th  class="p-2">GPS</th>       
                            <th  class="p-2">Type</th>          
                            <th></th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="p-2" *ngFor="let m of data.locations">
                            <td  class="p-2" style="width:100px">{{ m.CONTACT_TAG }}</td>
                            <td  class="p-2">{{ m.CONTACT_NAME }}</td>
                            <td  class="p-2"><span *ngIf="m.CONTACT_AGENCY_CODE!=''">{{ m.CONTACT_AGENCY_CODE }} - </span>{{ m.CONTACT_AGENCY_NAME }}</td>
                            <td  class="p-2">{{ m.LONGITUDE }}, {{ m.LATITUDE }}</td>
                            <td  class="p-2">{{ m.PLAN_CONTACT_TYPE }}</td>
                            <td  class="p-2" style="width:100px;">
                            <button [routerLink]="['/add-building-contact',data.TEMPLATE_ID,data.BUILDING_NBR,m.ID]" class="btn btn-primary" >Edit</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row p-2 mt-2 mb-2" style="background-color: beige;">
                    <div class="col-md-9">
                        <h2>Facility Contacts - Objects / Things</h2>         
                    </div>
                   <div class="col-md-3">
                    <button class="btn btn-danger">Load from MIST</button>             
                   </div>
                </div>
                <table class="table table-responsive table-striped table-bordered border-primary">
                    <thead>
                        <tr class="p-2">
                            <th  class="p-2">Contact Tag</th>
                            <th  class="p-2">Name</th>    
                            <th  class="p-2">Organization</th>
                            <th  class="p-2">Location</th>   
                            <th  class="p-2">Type</th>             
                            <th></th>                   
                        </tr>
                    </thead>
                    <tbody>
                        <tr  class="p-2" *ngFor="let m of data.objects">
                            <td  class="p-2" style="width:100px">{{ m.CONTACT_TAG }}</td>
                            <td  class="p-2">{{ m.CONTACT_NAME }}<span *ngIf="m.CONTACT_TITLE!=''"><br>{{ m.CONTACT_TITLE }}</span></td>
                            <td  class="p-2"><span *ngIf="m.CONTACT_AGENCY_CODE!=''">{{ m.CONTACT_AGENCY_CODE }} - </span>{{ m.CONTACT_AGENCY_NAME }}</td>
                            <td  class="p-2">{{ m.CONTACT_LOCATION }}</td>
                            <td  class="p-2">{{ m.PLAN_CONTACT_TYPE }}</td>
                            <td  class="p-2" style="width:100px;">
                            <button [routerLink]="['/add-building-contact',data.TEMPLATE_ID,data.BUILDING_NBR,m.ID]" class="btn btn-primary" >Edit</button>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
</div>