<div class="container-fluid">
    <div class="container-fluid"  style="background-color: #17213f;">
          <app-page-header [data]="data" (loadingChanged)="getLoading($event)"></app-page-header>
        </div>
        <!-- END OF MIST HEADER -->
        <div class="container-fluid">
            <div class="row" style="background-color: wheat;">
                <div class="col-md-3">
                    <div>&nbsp;</div>
                </div>            
            </div>
            <div class="row" style="background-color: wheat;">
                <div class="col-md-4"><h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.template.TEMPLATE_NAME }}</h2></div>
            <div class="col-md-6">
                <div class="p-2">
                    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.BUILDING_NBR}} - {{ data.building.FACILITY_NAME }} </div>
                    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.ADDRESS }} </div>
                    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.CITY_NAME }} {{ data.building.STATE_ABBR }} {{ data.building.ZIPCODE }} </div>
            
                </div>
            </div>
            </div>
            <div class="row" style="background-color: wheat;">
                <div class="col-md-3">
                    <div>&nbsp;</div>
                </div>            
            </div>
    </div>
<div class="container-fluid">
<div class="row pt-3" style="background-color:darkgrey">
    <div class="col-md-7">
        &nbsp;
    </div>
    <div class="col-md-5">
        <button [routerLink]="['/contacts',data.TEMPLATE_ID]" class="mb-3 btn btn-primary">Building Contact List</button>
        <button class="mb-3 btn btn-primary">Photo List</button>
        <button [routerLink]="['/add-building-contact',data['template']['TEMPLATE_ID'],data['building']['BUILDING_NBR']]" class="mb-3 btn btn-warning">Add Contact</button>
        <button class="mb-3 btn btn-warning">Upload Photo</button>
    <!--    <button (click)="reloadTemplate()" class="mb-3 btn btn-danger">Reload Template</button> -->
    </div>
</div>
<div class="row">
    <div class="col-md-3">
        <app-section-list [data]="data" [page]="page"></app-section-list>
      </div>

      <!----------------->
      <!-- RIGHT PANEL -->
      <!----------------->
      
      <div class="col-md-9">
<div *ngIf="adding=='N'" class="row">
    <div class="col-md-12">
    <div class="container-fluid" style="background-color: white;">
        <div class="row">
            <div class="col-md-12">
                <app-list-component [data]="data.tenants" [format]="format_tenants" (buttonClicked)="buttonClicked($event)" (editClicked)="editClicked($event)"></app-list-component>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-list-component [data]="data.orgs" [format]="format_orgs" (buttonClicked)="buttonClicked($event)" (editClicked)="editClicked($event)"></app-list-component>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-list-component [data]="data.persons" [format]="format_person" (buttonClicked)="buttonClicked($event)" (editClicked)="editClicked($event)"></app-list-component>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-list-component [data]="data.locations" [format]="format_location" (buttonClicked)="buttonClicked($event)" (editClicked)="editClicked($event)"></app-list-component>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <app-list-component [data]="data.objects" [format]="format_object" (buttonClicked)="buttonClicked($event)" (editClicked)="editClicked($event)"></app-list-component>
            </div>
        </div>
    </div>
</div>
</div>
</div>
<app-page-footer></app-page-footer>
</div>