<div class="container-fluid">
    <div class="container-fluid"  style="background-color: #17213f;">
        <!-- page header (component /display/page-header)-->
          <app-page-header [data]="data" (loadingChanged)="getLoading($event)"></app-page-header>

            <!-- Facility Information (component /display/facility-info)-->
            <app-facility-info [data]="data"></app-facility-info>
 
            <!-- Main Section -->
            <div class="container-fluid">
                <!-- Grey Navigation Menu (component /display/plan-menu)-->
                <app-plan-menu [data]="data" ></app-plan-menu>
                
                <!-- Main Section -->
                <div class="row" style="background-color: whitesmoke; min-height: 520px;">
                    <div class="col-md-3">
                        <!-- LEFT PANEL (component /display/section-list)-->
                        <app-section-list [data]="data" [page]="page"></app-section-list>
                    </div>
                    <div class="col-md-9 mt-3">
                        <!-- RIGHT PANEL (component /forms/contact-form)-->
                        <app-contacts-form [data]="data" (formComplete)="processFormComplete($event)" (formClose)="processFormClose($event)"></app-contacts-form>
                    </div>
                </div>
            </div>
            <!-- FOOTER (component /display/page-footer)-->
            <app-page-footer></app-page-footer>
    </div>
</div>