<div class="container-fluid">

    <!-- BEGINNING OF MIST HEADER -->
    <div class="container-fluid" style="background-color: #17213f;">
        <div class="container-fluid">
            <header class="row banner">
                <div class="col-md-1 logo">
                    <a href="#maincontent"><img alt="Skip to Main Content" src="assets/spacer.gif" height="100" width="1" border="0" class="pull-left"/></a>
                          <img src="assets/seal_DHS.png" alt="US Department of Homeland Security Seal" width="80" height="70" class="pull-left">
                          <div class="pull-left"></div>
                </div>
                <div class="col-md-11">
                    <div class="sitetitle"><font color=#FFFFFF>FPS Gateway - MIST 2.0</font></div>
                    <span class="fpstitle">Department of Homeland Security</span>
                </div>
            </header>
            
                <div class="container-fluid" >
                  <div class="row">
                <div class="col-md-9">
                    <nav class="navbar navbar-expand-lg bg-dark">
                  <div class="collapse navbar-collapse" id="navbarNav" style="width: 100%">
                    <ul class="navbar-nav">
                      <li class="nav-item ms-3 me-2" style="color:white"><a class="nav-link active" aria-current="page" href="#"  style="color:white">Home</a></li>
                      <li class="nav-item ms-3 me-2" ><a class="nav-link active"  style="color:wheat" [routerLink]="['/contacts',data.building['BUILDING_NBR']]">Building Contacts</a></li>
                      <li class="nav-item ms-3 me-2"><a class="nav-link active"  style="color:wheat"  [routerLink]="['/photos',data.building['BUILDING_NBR']]">Photos</a></li>
                      <li class="nav-item ms-3 me-2"><a class="nav-link active"  style="color:wheat" href="#"> &nbsp; &nbsp; </a></li>
                      <li class="nav-item ms-3 me-2"><a class="nav-link active"  style="color:wheat" href="#"> &nbsp; &nbsp; </a></li>
                      <li class="nav-item ms-3 me-2"><a class="nav-link active" href="#">&nbsp; </a></li>
                    </ul>
                  </div>
                  </nav>
                </div>
<div class="col-md-3">
    <nav class="navbar navbar-expand-lg bg-dark">
    <div class="collapse navbar-collapse" id="navbarNav" style="width: 100%">
      <ul class="navbar-nav">
        <li class="nav-item ms-3 me-2"><a class="nav-link active"  style="color:whitesmoke"  href="#">Logged in as: {{ data.user.USER_NAME }} ({{ data.user.ROLE }})</a></li>
        <li class="nav-item ms-3 me-2"><a class="nav-link active" href="#">MIST Home </a></li>
        </ul>
    </div>
    </nav>
</div>
                </div>
                </div>
  
        </div>
        </div>
        <!-- END OF MIST HEADER -->
        <div class="container-fluid">
            <!-- Facility Information -->
            <div class="row" style="background-color: wheat;">
                <div class="col-md-3">
                    <div>&nbsp;</div>
                </div>            
            </div>
            <div class="row" style="background-color: wheat;">
                <div class="col-md-4"><h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.template.TEMPLATE_NAME }}</h2></div>
            <div class="col-md-6">
                <div class="p-2">
                    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.BUILDING_NBR}} - {{ data.building.FACILITY_NAME }} </div>
                    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.ADDRESS }} </div>
                    <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.CITY_NAME }} {{ data.building.STATE_ABBR }} {{ data.building.ZIPCODE }} </div>
            
                </div>
            </div>
            </div>
            <div class="row" style="background-color: wheat;">
                <div class="col-md-3">
                    <div>&nbsp;</div>
                </div>            
            </div>
    </div>
<!-- Main Section -->
<div class="container-fluid">
    <div class="row pt-3" style="background-color:darkgrey">
        <div class="col-md-7">
            &nbsp;
        </div>
        <div class="col-md-5">
            <button [routerLink]="['/contacts',data.TEMPLATE_ID,data.BUILDING_NBR]" class="mb-3 btn btn-primary">Building Contact List</button>
            <button [routerLink]="['/photos',data.TEMPLATE_ID]" class="mb-3 btn btn-primary">Photo List</button>
            <button [routerLink]="['/add-building-contact',data['template']['TEMPLATE_ID'],data['building']['BUILDING_NBR']]" class="mb-3 btn btn-warning">Add Contact</button>
            <button class="mb-3 btn btn-warning">Upload Photo</button>
        <!--    <button (click)="reloadTemplate()" class="mb-3 btn btn-danger">Reload Template</button> -->
     
        </div>
    </div>
<div class="row">
    <div class="col-md-3">
        <div id="sidebar-nav"> 
            <div class="nav">
                <h1 class="mb-2">&nbsp; Table of Contents</h1>

                <div class="row ms-1 me-1 p-2 border"  *ngFor="let m of data.sections" style="width:100%">
                    <div *ngIf="m.SECTION_LEVEL==2" class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-10">
                        <a [routerLink]="['/plan',data.template.TEMPLATE_ID,data.building.BUILDING_NBR,m.SECTION_ID ]"> {{ m.SECTION_NAME }}</a>                
                    </div>
                    <div *ngIf="m.SECTION_LEVEL==1" class="col-md-1">
                        &nbsp;
                    </div>
                    <div class="col-md-1" *ngIf="m.HIDDEN=='Y'">
                        <span class="badge bg-dark"> X </span>
                    </div>
                    <div class="col-md-1" *ngIf="m.HIDDEN=='M'">
                        <span class="badge bg-dark"> M </span>
                    </div>
                </div>
            </div>
        
        </div>
      </div>
      <!-- -->
      <!-- RIGHT PANEL -->
      <!-- -->
      <div class="col-md-9 mt-3">

        <div class="row">
<div class="col-md-1">

</div>
<div class="col-md-7 mt-5">
    <div class="container-fluid" style="background-color: lightgrey">
        <div class="row" style="background-color: lavender;">
            <div class="col-md-12 pt-3">
                <h2>Add/Edit Building Contact</h2>
            </div>
        </div>
        <div class="row p-2">
            <div class="col-md-3">Contact Class</div>
            <div class="col-md-9">
            <select id="CONTACT_CLASS" name="CONTACT_CLASS" [(ngModel)]="data.formData['CONTACT_CLASS']" class="form-control">
                <option value="">-- Select Contact Class --</option>
                <option value="PERSON">Individual / Person</option>
                <option value="ORGANIZATION">Organization</option>
                <option value="LOCATION">Location</option>
                <option value="OBJECT">Object</option>
            </select></div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']!=''" class="row p-2">
            <div class="col-md-3">Contact Tag</div>
            <div class="col-md-6">
                <input style="width:220px;" type="text"  id="CONTACT_AGENCY_CODE" name="CONTACT_AGENCY_CODE" [(ngModel)]="data.formData['CONTACT_TAG']" class="form-control">
            </div>
            <div class="col-md-2">
                Example: [(JUST_ED)]
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='PERSON'" class="row p-2">
            <div class="col-md-3">Contact Type</div>
            <div class="col-md-9">
            <select  id="PLAN_CONTACT_TYPE" name="PLAN_CONTACT_TYPE" [(ngModel)]="data.formData['PLAN_CONTACT_TYPE']" class="form-control">
                <option value="">-- Select Contact Type --</option>
                <option value="FSCDO">FSC Designated Official</option>
                <option value="TENANT-REP">Tenant Representitive</option>
                <option value="ORG-REP">Organization Representitive</option>
                <option value="FPS-INSP">FPS Inspector</option>
                <option value="FPS-AC">FPS Area Commander</option>
                <option value="FPS-DC">FPS District Commander</option>
                <option value="FPS-APM">FPS Assessment Program Manager</option>
                <option value="GSA">GSA Building Contact</option>
            </select></div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='ORGANIZATION'" class="row p-2">
            <div class="col-md-3">Contact Type</div>
            <div class="col-md-9">
            <select  id="CONTACT_TYPE" name="CONTACT_TYPE" [(ngModel)]="data.formData['CONTACT_TYPE']" class="form-control">
                <option value="">-- Select Contact Type --</option>
                <option value="FED-TENANT">Federal Tenant</option>
                <option value="NONFED-TENANT">Non-Federal Tenant</option>
                <option value="LEO">Law Enforcement</option>
                <option value="FIRE">Fire/EMS</option>
                <option value="VENDOR">Vendor</option>
                <option value="OTHER">Other</option>
            </select></div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='LOCATION'" class="row p-2">
            <div class="col-md-3">Contact Type</div>
            <div class="col-md-9">
            <select  id="CONTACT_TYPE" name="CONTACT_TYPE" [(ngModel)]="data.formData['CONTACT_TYPE']" class="form-control">
                <option value="">-- Select Contact Type --</option>
                <option value="LOCATION">Stakeholder Location</option>
                <option value="MEETING POINT">Meeting Point</option>
                <option value="STORAGE">Storage Location</option>
                <option value="POI">Point of Interest</option>
                <option value="SAA">Significant Area or Asset</option>
                <option value="OTHER">Other</option>
            </select></div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='OBJECT'" class="row p-2">
            <div class="col-md-3">Object Type</div>
            <div class="col-md-9">
            <select  id="CONTACT_TYPE" name="CONTACT_TYPE" [(ngModel)]="data.formData['CONTACT_TYPE']" class="form-control">
                <option value="">-- Select Object Type --</option>
                <option value="GO KIT">Go Kit</option>
                <option value="ASSET">Security Asset</option>
                <option value="OTHER">Other</option>
            </select></div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='PERSON'" class="row p-2">
            <div class="col-md-3">Organization</div>
            <div class="col-md-9">
            <select id="CONTACT_TYPE" name="CONTACT_TYPE" [(ngModel)]="data.formData['REP_CONTACT_ID']" class="form-control">
                <option value="">-- Select --</option>
                <option *ngFor="let m of data.org_list" value="{{ m.ID }}">{{ m.CONTACT_NAME }}</option>
             </select></div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='LOCATION'" class="row p-2">
            <div class="col-md-3">Organization</div>
            <div class="col-md-9">
            <select id="CONTACT_TYPE" name="CONTACT_TYPE" [(ngModel)]="data.formData['OWNER_ORG']" class="form-control">
                <option value="0">-- Select --</option>
                <option *ngFor="let m of data.org_list" value="{{ m.ID }}">{{ m.CONTACT_NAME }}</option>
             </select></div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']!=''" type="text"  id="CONTACT_NAME" name="CONTACT_NAME" class="row p-2">
            <div class="col-md-3">Contact Name</div>
            <div class="col-md-9">
                <input [(ngModel)]="data.formData['CONTACT_NAME']" class="form-control">
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']!=''" type="text" class="row p-2">
            <div class="col-md-3">Title</div>
            <div class="col-md-9">
                <input  id="CONTACT_TITLE" name="CONTACT_TITLE" [(ngModel)]="data.formData['CONTACT_TITLE']" class="form-control">
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='ORGANIZATION'||data.formData['CONTACT_CLASS']=='PERSON'" class="row p-2">
            <div  class="col-md-3">Facility Tenant</div>
            <div class="col-md-9">
            <select style="width:120px;" id="TENANT_FLAG" name="TENANT_FLAG" [(ngModel)]="data.formData['TENANT_FLAG']" class="form-control">
                <option value="">-- Select --</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
             </select></div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='ORGANIZATION'||data.formData['CONTACT_CLASS']=='PERSON'" class="row p-2">
            <div class="col-md-3">LEO/EMS</div>
            <div class="col-md-9">
            <select  style="width:120px;" id="LE_EMS_FLAG" name="LE_EMS_FLAG" [(ngModel)]="data.formData['LE_EMS_FLAG']" class="form-control">
                <option value="">-- Select --</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
             </select></div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='PERSON'||data.formData['CONTACT_CLASS']=='OBJECT'" class="row p-2">
            <div class="col-md-3">Location</div>
            <div class="col-md-9">
            <select  style="width:120px;" id="LE_EMS_FLAG" name="LE_EMS_FLAG" [(ngModel)]="data.formData['LOCATION_ID']" class="form-control">
                <option value="">-- Select Location --</option>
                <option  *ngFor="let m of data.locations" value="{{ m.ID }}">{{ m.CONTACT_NAME }}</option>
                <option value="N">No</option>
             </select></div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='OBJECT'||data.formData['CONTACT_CLASS']=='LOCATION'" class="row p-2">
            <div class="col-md-3">Emergency Contact</div>
            <div class="col-md-9">
            <select  style="width:120px;" id="CONTACT_TYPE" name="CONTACT_TYPE" [(ngModel)]="data.formData['EMERGENCY_CONTACT_FLAG']" class="form-control">
                <option value="">-- Select --</option>
                <option value="Y">Yes</option>
                <option value="N">No</option>
             </select></div>
        </div>

        <div  *ngIf="data.formData['CONTACT_CLASS']!=''"  class="row p-2">
            <div class="col-md-3">Agency Code</div>
            <div class="col-md-9">
                <input style="width:120px;" type="text"  id="CONTACT_AGENCY_CODE" name="CONTACT_AGENCY_CODE" [(ngModel)]="data.formData['CONTACT_AGENCY_CODE']" class="form-control">
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']!=''" type="text" class="row p-2">
            <div class="col-md-3">Agency/Organization Name</div>
            <div class="col-md-9">
                <input   id="CONTACT_AGENCY_NAME" name="CONTACT_AGENCY_NAME" [(ngModel)]="data.formData['CONTACT_AGENCY_NAME']" class="form-control">
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']!=''" class="row p-2">
            <div class="col-md-3">Email</div>
            <div class="col-md-9">
                <input  type="text"  id="CONTACT_EMAIL" name="CONTACT_EMAIL" [(ngModel)]="data.formData['CONTACT_EMAIL']" class="form-control">
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']!=''" class="row p-2">
            <div class="col-md-3">Contact Phone</div>
            <div class="col-md-9">
                <input  type="text"  id="CONTACT_EMAIL" name="CONTACT_EMAIL" [(ngModel)]="data.formData['CONTACT_PHONE']" class="form-control">
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='LOCATION'||data.formData['CONTACT_CLASS']=='OBJECT'" class="row p-2">
            <div class="col-md-3">Longitude</div>
            <div class="col-md-9">
                <input  type="text"  id="LONGITIDE" name="LONGITIDE" [(ngModel)]="data.formData['LONGITUDE']" class="form-control">
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='LOCATION'||data.formData['CONTACT_CLASS']=='OBJECT'" class="row p-2">
            <div class="col-md-3">Latitude</div>
            <div class="col-md-9">
                <input  type="text"  id="LATITUDE" name="LONGITIDE" [(ngModel)]="data.formData['LATITUDE']" class="form-control">
            </div>
        </div>

        <div *ngIf="data.formData['CONTACT_CLASS']!=''" class="row p-2">
            <div class="col-md-3">Note</div>
            <div class="col-md-9">
                <textarea  style="height:120px;" id="CONTACT_NOTE" name="CONTACT_NOTE" [(ngModel)]="data.formData['CONTACT_NOTE']" class="form-control"></textarea>
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='ORGANIZATION'" class="row p-2">
            <div class="col-md-3">Mission</div>
            <div class="col-md-9">
                <textarea  style="height:120px;" id="CONTACT_NOTE" name="CONTACT_NOTE" [(ngModel)]="data.formData['MISSION']" class="form-control"></textarea>
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='OBJECT'"  class="row p-2">
            <div class="col-md-3">Object Contents</div>
            <div class="col-md-9">
                <textarea style="height:120px;" id="CONTACT_NOTE" name="CONTACT_NOTE" [(ngModel)]="data.formData['OBJECT_CONTENTS']" class="form-control"></textarea>
            </div>
        </div>
        <div  *ngIf="data.formData['CONTACT_CLASS']!=''" class="row p-2">
            <div class="col-md-3">Additional Info</div>
            <div class="col-md-9">
                <textarea style="height:120px;" id="CONTACT_NOTE" name="CONTACT_NOTE" [(ngModel)]="data.formData['OTHER_INFO']" class="form-control"></textarea>
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']=='OBJECT'" class="row p-2">
            <div class="col-md-3">Standup Process</div>
            <div class="col-md-9">
                <textarea style="height:120px;" id="CONTACT_NOTE" name="CONTACT_NOTE" [(ngModel)]="data.formData['STANDUP_PROCESS']" class="form-control"></textarea>
            </div>
        </div>
        <div *ngIf="data.formData['CONTACT_CLASS']!=''&&data.formData['CONTACT_NAME']!=''"  class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9">
                <button (click)="postAddContact();" type="submit" class="btn btn-primary">Save Contact</button>
                </div>
        </div>        
        </div>  
</div>
<div class="col-md-3">
    <p>
    Building Contacts are people, organizations, locations, and objects related to the facility.  MIST contains 
    tenants, building security assets, and key contacts already loaded that you can include in your plan.
    </p>
    <p>
        In order to complete your plan it may be necessary to add additional contacts.
    </p>
</div>
</div>
</div>
</div>
</div>
</div>