<div class="container-fluid">
    <div class="row" style="background-color: wheat;">
        <div class="col-md-3">
            <div>&nbsp;</div>
        </div>            
    </div>
    <div class="row" style="background-color: wheat;">
        <div class="col-md-4"><h2 style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.template.TEMPLATE_NAME }}</h2></div>
    <div class="col-md-6">
        <div class="p-2">
            <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.BUILDING_NBR}} - {{ data.building.FACILITY_NAME }} </div>
            <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.ADDRESS }} </div>
            <div style="font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;">{{ data.building.CITY_NAME }} {{ data.building.STATE_ABBR }} {{ data.building.ZIPCODE }} </div>
    
        </div>
    </div>
    </div>
    <div class="row" style="background-color: wheat;">
        <div class="col-md-3">
            <div>&nbsp;</div>
        </div>            
    </div>
</div>
