<footer style="height:75px;">
    <div class="row pt-3">
    <font color="white" size="2">Plugin Links: <a style="color: white; text-decoration: underline;" href="http://get.adobe.com/flashplayer/">Adobe Flash</a> | 
        <a style="color: white; text-decoration: underline;" href="http://get.adobe.com/reader/">Adobe Reader</a> | 
        <a style="color: white; text-decoration: underline;" href="http://www.microsoft.com/en-us/download/">Microsoft Word</a> | 
        <a style="color: white; text-decoration: underline;" href="http://www.microsoft.com/en-us/download/">Microsoft Excel</a>
    </font>
</div>
</footer>